/node_modules
/public/hot
/resources/pdf
/resources/text
/public/storage
/storage/*.key
/public/js/app.js
/public/css/app.css
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log