.sidebar-open .sidebar{
    .avatar{
        width: 80px;
        height: 80px;
    }
    .sidebar__user-name{
        display: block;
    }    
}
.sidebar__profile{
    height: 147px;
}
.sidebar__user-name{
    display: none;
    color: #fff;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: #6659f7;
    width: 0;
    overflow: hidden;
    transition: 0.3s all;
    .nav-link{
        padding-left: 0;
        padding-right: 0;
        color: #ddd;
        overflow: hidden;
        white-space: nowrap;
        &.active, &:hover{
            color: #fff;
        }
        &.active{
            background: #343a40;
            color: #fff;
            margin-left: 15px;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
        }
        .icon{
            width: 64px;
            text-align: center;
            display: inline-block;
        }
    }
}
.sidebar-active{
    .sidebar, .navbar-brand{ width: 64px; }
    main{ width: calc(100% - 64px); }
    &.sidebar-open{
        .sidebar, .navbar-brand{ width: 16.667%; }
        main{ width: 83.333%; }
    }
}
.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}
