// Body
$body-bg: #eaeaea;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: rgba(33, 191, 189, 1);
$cyan: #6cb2eb;


$custom-file-text: (
  en: "Browse",
  ru: "Выбрать"
);