// Body
$body-bg: #eaeaea;
$warning: #ffbc34;
$success: #22c6ab;
$danger: #ef6e6e;
$primary: #4798e8;
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #ef6e6e;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: rgba(33, 191, 189, 1);
$cyan: #6cb2eb;


$custom-file-text: (
  en: "Browse",
  ru: "Выбрать"
);
$border-radius:               15px;
$border-radius-lg:            20px;
$border-radius-sm:            5px;