@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');
// Variables
@import 'variables';
@import 'notifications';
@import 'sidebar';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome-sass/assets/stylesheets/font-awesome';
@import '~vue-multiselect/dist/vue-multiselect.min.css';
@import '~vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css';
@import '~sweetalert2/dist/sweetalert2.min.css';
@import '~vue-toast-notification/dist/theme-sugar.css';
body{
    padding-top: 65px;
    font-family: 'Poppins', sans-serif;
}
textarea {resize: none;}
main{
    width: 100%;
    transition: 0.3s all;
}


nav.navbar-dark{
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.45);
}
nav.navbar-light .nav-link{
    color: #999;
}
.card-header, .card-footer{
    background: transparent;
}
.dashboard__card__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: #fff;
    &.primary{background-color: $primary;}
    &.secondary{background-color: $secondary;}
    &.info{background-color: $info;}
    &.teal{background-color: $teal;}
    &.danger{background-color: $danger;}
    &.warning{background-color: $warning;}
    &.success{background-color: $success;}
}
.dashboard__card__name{
    color: #999;
    text-transform: uppercase;
}
.dashboard__card__value{
    font-size: 2.5em;
    font-weight: bold;
    color: #999;
}
.front-tile{
    height: 350px;
    overflow: auto;
}
.sidebar-open .navbar-brand{
    text-align: center;
}
.dashboard{
    .navbar-brand {
        padding-top: .75rem;
        padding-bottom: .75rem;
        font-size: 1rem;
        color: #fff;
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
        white-space: nowrap;
        transition: 0.3s all;
        overflow: hidden;
        background: #6659f7;
    }

    .navbar .navbar-toggler {
        top: .25rem;
        right: 1rem;
    }
    .avatar{
        vertical-align: middle;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: inline-block;
    }
}
.has-notify{
    position: relative;
    &:after{
        content: "";
        display: inline-block;
        position: absolute;
        background: $danger;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        top: -5px;
        right: -5px;
    }
}

.upload-container{
    position: relative;
    overflow: hidden;
    &:after{
        position: absolute;
        z-index: 2;
        background: rgba(0,0,0,0.1);
        display: none;
        width: 100%;
        height: 100%;
        content: "";
    }
    label{
        position: absolute;
        transition: 0.3s top;
        top: 150%;
        left: 50%;
        z-index: 3;
        transform: translate(-50%, -50%);
        input{
            display: none;
        }
    }
    &:hover{
        &:after{
            display: block;
        }
        label{
            top: 50%;
        }
    }
}
.photo{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/images/empty-photo.png);
}

#lesson-chat-container{
    height: 250px;
    overflow: auto;
    margin-bottom: 5px;
    ul{
        list-style: none;
        padding: 3px;
        li{
            margin-bottom: 5px;
            span{
                padding: 5px 10px;
                border-radius: 5px;
                display: inline-block;
                width: 75%;
                background: $blue;
                color: #fff;
            }
            &.right{
                text-align: right;
                span{
                    background: $yellow;
                    color: #333;
                }
            }
        }
    }
}
#lesson-video-container{
    height: 100%;
    min-height: 300px;
}
#remoteVideo{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#localVideo{
    display: block;
    width: 30%;
    height: 30%;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;
    border: 1px solid #ddd;
}
.fc-event.fc-subscribe{
    background-color: $green;
}
.teachers-list{
    a{
        color: #666 !important;
        text-decoration: none;
    }
    .card:hover .teachers-list__photo{
        transform: scale(1.2);
    }
    .teachers-list__photo-container{
        height: 300px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    .teachers-list__photo{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: 0.3s all;
    }
}
.chat__messages{
    height: 500px;
    overflow: auto;
    &>div{
        float: right;
        text-align: right;
        .alert{
            background: $info;
            color: #fff;
        }
        &.myMessage{
            float: left;
            text-align: left;
            .alert{
                background: $success;
                color: #fff;
            }
        }
    }
}
.users-list{
    height: 430px;
    overflow: auto;
    a{
        position: relative;
        overflow: hidden;
        &.online:before{
            content: "";
            display: inline-block;
            width: 32px;
            height: 32px;
            position: absolute;
            top: -16px;
            left: -16px;
            background-color: $success;
            border-radius: 50%;
        }
        &.hasmessage:after{
            content: "";
            display: inline-block;
            width: 32px;
            height: 32px;
            position: absolute;
            top: -16px;
            right: -16px;
            background-color: $warning;
            border-radius: 50%;
        }
    }
}
.my-teacher{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(0,0,0,0.3);
    color: #fff;
    font-weight: normal;
    z-index: 10;
    padding: 2px 10px;
}
.board-container{
    overflow: hidden;
}
.btn.btn-icon{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &.btn-sm{
        width: 27px;
        height: 27px;
    }
}